* {
	font-family: 'Roboto';
	font-weight: 300;
}

body {
	background-color:#e5e5e5;
	margin:0;
	padding:0;
}

header {
	background-color: #2196F3;
	border-top: 30px solid #2196F3;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
	height: 4.5em;
	z-index: 999;
	position:fixed;
	width:100%;
	top:0px;
	text-align: center;
	white-space: nowrap;
}

a {
	text-decoration: none;
	color:black;
}

#footer-container {
	margin:auto;
	margin-top:1em;
	max-width: 80em;
	min-width: 550px;
	bottom: 0px;
	/*border:5px solid black;*/
}

#footer-display {
	background-color: #323232;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
	margin-left: 1em;
	margin-right: 1em;
	text-align: right;
	padding: 4px;
	padding-right: 24px;
	border-radius: 8px;
}

#footer-text {
	color:#FFFFFF;
	display: inline-block;
	font-family: 'Roboto Condensed'
}

#my-head {
	
	display:inline-block;
	width:95px;
	height:95px;
	border-radius:50%;

	/*Text offset by head*/
	position: relative;
	transform: translate(-10px, -27px);

	/*Centered text with head to left*/
	/*position: absolute;
	transform: translate(-120px, -26px);*/

}

#header-wrap {
	display:inline-block;
	size:2em;
	vertical-align: top;
	/*border:1px solid black;*/
}

#header-subtitle {
	font-size: 1.2em;
	font-weight: 300;
	text-align: left;
	margin-top: -12px;
	margin-bottom: -15px;
	color: #FFFFFF;
	white-space: nowrap;
	/*border:1px solid black;*/
}

#header-title {
	font-size: 3em;
	font-family: 'Roboto Slab';
	margin:auto;
	color: #FFFFFF;
	white-space: nowrap;
	/*border:1px solid black;*/
}

#center-container {
	margin:auto;
	margin-top:8em;
	max-width: 80em;
	min-width: 550px;
	/*border:5px solid black;*/
}

#center-display {
	padding: 10px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom:1em;
	/*height:80em; //for testing*/
}

.section-header {
	font-size: 2.5em;
	font-weight: 300;
	opacity: 0.7;
	margin: auto;
	margin-bottom: 8px;
	text-align: center;
	/*border:1px solid black;*/
}

.section-container {
	text-align: center;
	/*border:1px solid black;*/
}

.line-separator{
	margin: 0 0 16px 0;
	border-bottom:1px solid #bdbdbd;
	padding: 8px 0 8px 0;
}

.tile {
	display:inline-block;
	margin: 8px;
	padding: 8px;
	min-height: 14em;
	vertical-align: top;
	/*border:1px solid black;*/
	-webkit-transition: all .5s ease-out 0.1s;
    -moz-transition: all .5s ease-out 0.1s;
    -o-transition: all .5s ease-out 0.1s;
    transition: all .5s ease-out 0.1s;
    background-color: rgba(255,255,255,0);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.tile:hover {
	background-color: rgb(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.tile-image {
	display: block;
	margin:auto;
	margin-bottom: 8px;
	width:150px;
	height:150px;
}

.tile-desc {
	margin-top: -6px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.tile-handle {
	margin-top: -10px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 1.3em;
	line-height: 20px;
	/*font-weight: 400;*/
}